body {
    background-color: #092b40;
}

.randomArticle {
    margin-top: 20%;
    text-align: center;
    color: #D96F32;
    font-size: large;
}

.randomArticle a {
    color: #D96F32;
}

.randomArticle a:hover {
    color: #D96F32;
    text-decoration: none;
}

.info{
    text-align: center;
    color: #D96F32;
    font-size: large;
}

.searchForm{
    background-color: #092b40;
    border-radius: 30px;
    border-width: 2px;
    border-color: #beeaff;
    color:#D96F32;
    height:30px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.article{
    background-color: #E7E7E8;
    color: #591613;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}
.article:hover{
    background-color: white;
}

a:link, a:visited{
    text-decoration: none;
}

.article a, a:hover {
    color: black;
    text-decoration: none;
}

#xbutton{
    color: #D96F32;
    position: absolute;
    top: 32%;
    right:26%;
    cursor:pointer;
}

@media screen and (max-width: 740px) {
    .randomArticle {
        margin-top: 70%;
        text-align: center;
        color: #D96F32;
        font-size: large;
    }

    #xbutton{
        color: #D96F32;
        position: absolute;
        top: 19%;
        right:12%;
        cursor:pointer;
    }
}