body {
    background-color: #092b40;
}

.randomArticle {
    margin-top: 15%;
    text-align: center;
    color: #D96F32;
    font-size: x-large;
}

.randomArticle a {
    color: #D96F32;
}

.randomArticle a:hover {
    color: #D96F32;
    text-decoration: none;
}

.info{
    text-align: center;
    color: #D96F32;
    font-size: x-large;
}

.searchForm{
    background-color: #092b40;
    color:#D96F32;
}

.article{
    background-color: #E7E7E8;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}
.article a, a:hover {
    color: black;
    text-decoration: none;
}