body {
    background-color: #092b40;
}

.randomArticle {
    margin-top: 20%;
    text-align: center;
    color: #D96F32;
    font-size: large;
}
@-webkit-keyframes pulsate {
    50% { color: #D96F32; text-shadow: 0 -1px rgba(0,0,0,0.3), 0 0 5px #D96F32, 0 0 8px #D96F32; }
}


.randomArticle a {
    color: #D96F32;
    font-size: xx-large;
    text-shadow: 0 -1px rgba(0,0,0,0.9);
    -webkit-animation: pulsate 2s linear infinite;
    animation: pulsate 2s linear infinite;
}

.randomArticle a:hover {
    color: #D96F32;
    text-decoration: none;
}

.info{
    text-align: center;
    color: #D96F32;
    font-size: medium;
}

.searchForm{
    background-color: #092b40;
    border-radius: 30px;
    border-width: 2px;
    border-color: #beeaff;
    color:#D96F32;
    height:30px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.article{
    background-color: #E7E7E8;
    color: #591613;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}
.article:hover{
    background-color: white;
}

a:link, a:visited{
    text-decoration: none;
}

.article a, a:hover {
    color: black;
    text-decoration: none;
}

#xbutton{
    color: #D96F32;
    position: absolute;
    top: 32%;
    right:21%;
    cursor:pointer;
}

.footer{
    text-align: center;
    margin-top: 20%;
}

@media screen and (max-width: 740px) {
    .randomArticle {
        margin-top: 70%;
        text-align: center;
        color: #D96F32;
        font-size: large;
    }

    #xbutton{
        color: #D96F32;
        position: absolute;
        top: 19%;
        right:9%;
        cursor:pointer;
    }
    .footer{
        text-align: center;
        margin-top: 65%;
    }
}